@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Source+Code+Pro');

body {
    font-family: 'Open Sans', 'san-serif';
    letter-spacing: 1px;
    line-height: 30px;
}

div.remark-slide-content {
    background: url('pattern.svg');
    padding: 2em 5em;
}

h1 div.logo {
    background: url('logo.svg');
    width: 75px;
    height: 75px;
}

h1, h2, h3 {
    font-weight: 600;
    color: rgb(70,70,70);
    line-height: 60px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    line-height: 75px;
}

h3 {
    margin: 20px 0;
}

pre {
    font-family: 'Source Code Pro', 'monospace';
    letter-spacing: normal;
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
}

ul li {
    margin: 15px 0px;
}

ol li {
    font-weight: bold;
    margin-bottom: 15px;
}

span {
    height: 30px;
    width: 30px;
}
